html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.free {
  width: 100%;
  height: 100vh;

  background-color: #2f4153;
}

.image-cover {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  width: 100%;
  height: 80vh;

  background: url(../public/background.svg);
  background-color: #2f4153;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-cover p {
  font-size: 100px;
  color: #ffffff;
}

.image-cover img{
  width: 200px;
  height: 200px;
}

.align {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .image-cover p {
    font-size: 30px;
  }

  .image-cover img{
    width: 100px;
    height: 100px;
  }
}
